[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eodhd"]
	path = eodhd
	url = https://github.com/eodhistoricaldata/eodhd-apis-r-financial-library
