[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eodhdR2"]
	path = eodhdR2
	url = https://github.com/eodhistoricaldata/r-library-for-financial-data-2024
